<div class="sched-list">
  <div class="dashboard-top">
    <h2 class="d-head">Schedule List</h2>

    <div class="d-head-info wesa">
      <div class="dh-item">
        <h3 class="dh-title">Monitoring</h3>
      </div>
      <div class="dh-item">
        <select
          id="history"
          [(ngModel)]="selectedFilter"
          (change)="filterSchedules()"
        >
          <option value="24h">Last 24 Hours</option>
          <option value="1w">Last Week</option>
          <option value="2w">Last 2 Weeks</option>
          <option value="1m">Last Month</option>
          <option value="6m">Last 6 Months</option>
          <option value="1y">Last Year</option>
        </select>
      </div>
    </div>
  </div>
  <div class="table-group">
    <table class="stat-table">
      <thead>
        <tr>
          <!-- Count Variable -->
          <th>Number</th>
          <!-- childId need to populate -->
          <th>Name</th>
          <!-- scheduleDate -->
          <th>Schedule</th>
          <!-- location -->
          <th>Location</th>
          <!-- notificationStatus -->
          <th>SMS Status</th>
          <!-- notificationSent -->
          <th>Vax Name</th>
          <th>Type</th>
          <!-- Scheduletype -->
          <th>Status</th>
          <!-- scheduleType -->
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let schedule of filteredSchedules; let i = index">
          <td>{{ i + 1 }}</td>
          <td>
            <a routerLink="/children-page/{{ schedule.number }}"
              >{{ schedule.name }}
            </a>
          </td>
          <td>{{ schedule.scheduleDate | date : "yyyy-MM-dd" }}</td>
          <td>{{ schedule.location }}</td>
          <!-- <td>{{ schedule.smsContent || "N/A" }}</td> -->
          <td>{{ schedule.notificationStatus || "N/A" }}</td>
          <td>{{ schedule.vaccineName || "N/A" }}</td>
          <td>{{ schedule.scheduleType || "N/A" }}</td>
          <td>{{ schedule.status ? "Done" : "N/A" }}</td>

          <td>
            <button
              class="s global-btn"
              [disabled]="
                (schedule.scheduleType === 'weighing' &&
                  schedule.status === true) ||
                (schedule.scheduleType === 'vaccination' &&
                  schedule.status === true)
              "
              (click)="performAction(schedule)"
            >
              {{
                (schedule.scheduleType === "weighing" &&
                  schedule.status === true) ||
                (schedule.scheduleType === "vaccination" &&
                  schedule.status === true)
                  ? "Completed"
                  : "Action"
              }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
