<div class="role-pending-container">
  <h1>Role Assignment Pending</h1>
  <p>
    Your account has been created successfully, but it is currently awaiting an
    admin to assign a role. Once your role has been assigned, you will be able
    to access the appropriate features of the system.
  </p>
  <p>
    Please check back later or contact the administrator if you need further
    assistance.
  </p>
  <button class="signup-button" (click)="navigateToSignup()">
    Go to Homepage
  </button>
</div>
