<div class="vpopup-container s">
  <div class="vvld-box-inner">
    <h2>Add New Mother</h2>
    <form [formGroup]="addMotherForm" (submit)="addMother()">
      <div class="vvld-form-group">
        <label for="f-name">First Name</label>
        <input
          formControlName="firstName"
          type="text"
          placeholder="First name"
          id="f-name"
          class="form-ctrl"
        />
        <div
          *ngIf="firstName?.touched && firstName?.invalid"
          class="form-error"
        >
          <div *ngIf="firstName?.errors?.['required']">
            &#42; First name is required
          </div>
        </div>
      </div>

      <div class="vvld-form-group">
        <label for="l-name">Last Name</label>
        <input
          formControlName="lastName"
          type="text"
          placeholder="Last name"
          id="l-name"
          class="form-ctrl"
        />
        <div *ngIf="lastName?.touched && lastName?.invalid" class="form-error">
          <div *ngIf="lastName?.errors?.['required']">
            &#42; Last name is required
          </div>
        </div>
      </div>

      <div class="vvld-form-group">
        <label for="gender">Gender</label>
        <select formControlName="gender" id="gender" class="form-ctrl">
          <option value="" disabled>Select Gender</option>
          <!-- <option value="Male">Male</option> -->
          <option value="Female">Female</option>
        </select>
        <div *ngIf="gender?.touched && gender?.invalid" class="form-error">
          <div *ngIf="gender?.errors?.['required']">
            &#42; Gender is required
          </div>
        </div>
      </div>

      <div class="vvld-form-group">
        <label for="phone">Phone</label>
        <input
          formControlName="phone"
          type="text"
          placeholder="Phone"
          id="phone"
          class="form-ctrl"
        />
        <div *ngIf="phone?.touched && phone?.invalid" class="form-error">
          <div *ngIf="phone?.errors?.['invalidPhone']">
            &#42; Invalid phone format (639xxxxxxxxx)
          </div>
        </div>
      </div>

      <div class="vvld-form-group">
        <label for="email">Email</label>
        <input
          formControlName="email"
          type="text"
          placeholder="Email"
          id="email"
          class="form-ctrl"
        />
        <div *ngIf="email?.touched && email?.invalid" class="form-error">
          <div *ngIf="email?.errors?.['invalidEmail']">
            &#42; Invalid email format sample&#64;sample.com
          </div>
        </div>
      </div>

      <div class="vvld-form-group">
        <label for="isTransient">Residency Status</label>
        <select
          formControlName="isTransient"
          id="isTransient"
          class="form-ctrl"
        >
          <option value="" disabled selected>Residency Status</option>
          <option value="false">Native Resident</option>
          <option value="true">Transient</option>
        </select>
        <div
          *ngIf="isTransient?.touched && isTransient?.invalid"
          class="form-error"
        >
          <div *ngIf="isTransient?.errors?.['required']">
            &#42; This field is required
          </div>
        </div>
      </div>

      <div class="vvld-form-group">
        <label for="purok">Purok</label>
        <input
          formControlName="purok"
          type="text"
          id="purok"
          placeholder="Purok"
          class="form-ctrl"
        />
      </div>

      <div class="vvld-form-group">
        <label for="barangay">Barangay</label>
        <input
          formControlName="barangay"
          type="text"
          id="barangay"
          placeholder="Barangay"
          class="form-ctrl"
        />
      </div>

      <div class="vvld-form-group">
        <label for="photoPath">Photo Path</label>
        <input
          formControlName="photoPath"
          type="text"
          id="photoPath"
          placeholder="Photo Path"
          class="form-ctrl"
        />
        <div
          *ngIf="photoPath?.touched && photoPath?.invalid"
          class="form-error"
        >
          <div *ngIf="photoPath?.errors?.['required']">
            &#42; This field is required
          </div>
        </div>
      </div>

      <button type="submit" class="global-btn">Add Mother</button>
    </form>
    <!-- <pre>{{ addMotherForm.value | json }}</pre> -->
  </div>
</div>
