.analytics-container {
  margin: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.ai-gender {
  grid-column: 1/2;
  grid-row: 1/2;
}

.ai-purok {
  grid-column: 1/2;
  grid-row: 2/3;
}

.ai-complete-immunization {
  grid-column: 2/4;
  grid-row: 1/2;
}

.ai-missed-vaccine-reason {
  grid-column: 2/4;
  grid-row: 2/3;
}

/* TODO: FIXME: */
.ai-immunization-coverage {
  grid-column: 1/4;
  grid-row: 3/4;
}

.ai-malnourishment-status {
  grid-column: 1/3;
  grid-row: 4/5;
}

.ai-vaccine-coverage {
  grid-column: 1/3;
  grid-row: 5/6;
}

/* .analytics-container > * {
  flex: 1;
} */

.chhart {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.analytics-item {
  border-radius: 8px;
  background: #f2f2f2;
  box-shadow: 6px 5px 5px #b2b2b2, 5px 5px 5px #fcfcfc;
}
.analytics-item canvas {
  padding: 20px;
}
