<div class="analytics-container">
  <!-- FIXME: -->
  <div class="dashboard-container">
    <div class="dashboard-top">
      <h2 class="d-head">Analytics</h2>

      <!-- <div class="d-head-info wesa">
        <div class="dh-item">
          <h3 class="dh-title">Monitoring</h3>
        </div>

        <div class="dh-item">
          <select id="month" (change)="onMonthChange($event)">
            <option value="">Select Month</option>
            <option value="0">January</option>
            <option value="1">February</option>
            <option value="2">March</option>
            <option value="3">April</option>
            <option value="4">May</option>
            <option value="5">June</option>
            <option value="6">July</option>
            <option value="7">August</option>
            <option value="8">September</option>
            <option value="9">October</option>
            <option value="10">November</option>
            <option value="11">December</option>
          </select>
        </div>
        <div class="dh-item">
          <select id="year" (change)="onYearChange($event)">
            <option value="">Select Year</option>
            <option *ngFor="let year of availableYears" [value]="year">
              {{ year }}
            </option>
          </select>
        </div>
      </div> -->
      <!-- FIXME: -->
      <!-- <canvas baseChart [type]="'bar'" [data]="data"></canvas> -->
      <div class="analytics-item-container">
        <div class="analytics-item ai-gender">
          <!-- Vaccination summary text -->
          <p class="descripp">
            This summary provides an overview of the immunization status among
            children. Out of the total children,
            <span class="ss">{{ fullyVaccinatedCount }}</span>
            are <strong class="ss">fully vaccinated</strong>, meeting the
            required schedule of vaccines, ensuring comprehensive protection
            against preventable diseases.
            <span class="ss">{{ partiallyVaccinatedCount }}</span>
            children are <strong class="ss">partially vaccinated</strong>,
            indicating they have started but not yet completed the full
            schedule.
            <span class="ss">{{ notVaccinatedCount }}</span>
            children have
            <strong class="ss">not received any vaccinations</strong>,
            highlighting a potential risk area that may require targeted
            outreach and intervention.
          </p>
          <!-- <charts-gender
        [maleCount]="maleCount"
        [femaleCount]="femaleCount"
            ></charts-gender> -->
        </div>
        <div class="analytics-item ai-purok">
          <p class="descripp" *ngIf="mostCommonReason">
            The most common reason for missed vaccination is
            <strong class="ss">{{ mostCommonReason }}</strong> with a total
            count of <span class="ss">{{ mostCommonReasonCount }} cases</span>.
            This indicates a trend that may need further investigation to ensure
            better vaccination coverage.
          </p>
          <!-- <charts-purok
        [purokLabels]="purokLabels"
        [purokData]="purokData"
            ></charts-purok> -->
        </div>
        <div class="analytics-item ai-complete-immunization">
          <charts-complete-immunization
            [fullyVaccinatedCount]="fullyVaccinatedCount"
            [partiallyVaccinatedCount]="partiallyVaccinatedCount"
            [notVaccinatedCount]="notVaccinatedCount"
          ></charts-complete-immunization>
        </div>
        <div class="analytics-item ai-missed-vaccine-reason wesa">
          <charts-missed-vaccine-reason
            title="Click to View PDF"
            (click)="generateMissedVaccinePdf()"
            [missedVaccineReasons]="missedVaccineReasons"
          ></charts-missed-vaccine-reason>
        </div>
        <div class="analytics-item ai-immunization-coverage wesa">
          <charts-immunization-coverage
            title="Click to View PDF"
            (click)="generateAdministeredVaccinesPdf()"
            [vaccineDoses]="vaccineDoses"
          ></charts-immunization-coverage>
        </div>
        <!-- Weight for Age Chart -->
        <div class="analytics-item ai-weight-for-age wesa">
          <charts-weight-for-age
            title="Click to View PDF"
            (click)="generateWeightForAgePdf()"
            [weightForAgeData]="weightForAgeData"
          ></charts-weight-for-age>
        </div>
        <div class="analytics-item ai-height-for-age wesa">
          <charts-height-for-age
            title="Click to View PDF"
            (click)="generateHeightForAgePdf()"
            [heightForAgeData]="heightForAgeData"
          ></charts-height-for-age>
        </div>
        <div class="analytics-item ai-weight-for-height wesa">
          <charts-weight-for-height
            title="Click to View PDF"
            (click)="generateWeightForHeightPdf()"
            [weightForHeightData]="weightForHeightData"
          ></charts-weight-for-height>
        </div>
      </div>
    </div>
  </div>
</div>
