<div class="children">
  <div class="children-container">
    <div class="c-table-header">
      <div class="c-table-item">
        <select id="gender">
          <option disabled selected>Gender</option>
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
      <div class="c-table-item">
        <select id="purok">
          <option disabled selected>Purok</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
      <div class="c-table-item">
        <select id="nutritionalStatus">
          <option disabled selected>Nutritional Status</option>
          <option>Normal</option>
          <option>Obese</option>
          <option>Wasted</option>
          <option>Severely Wasted</option>
          <option>Stunted</option>
          <option>Severely Stunted</option>
          <option>Underweight</option>
          <option>Severely Underweight</option>
          <option>Overweight</option>
          <option>Severely Overweight</option>
        </select>
      </div>
      <div class="c-table-item">
        <select id="vaxStatus">
          <option disabled selected>Vaccine Status</option>
          <option>Fully Vaccinated</option>
          <option>Partially Vaccinated</option>
          <option>Not Vaccinated</option>
        </select>
      </div>
      <div class="c-table-item">
        <!-- <search></search> -->
        <p class="ssearch">
          <input
            #query
            type="text"
            placeholder="Search..."
            (keyup)="search(query.value)"
          />
          <button (click)="search(query.value)">
            <mat-icon
              ><span class="hidden">Search</span><span> search </span></mat-icon
            >
          </button>
        </p>
      </div>
    </div>
    <div class="c-table-body">
      <div class="table-group">
        <table class="stat-table">
          <thead>
            <tr>
              <th>Children</th>
              <th>Gender</th>
              <th>Purok</th>
              <!-- <th>Nutritional Status</th> -->
              <th>Weight for Age Status</th>
              <th>Height for Age Status</th>
              <th>Weight for Length/Height Status</th>
              <th>Vaccine Status</th>
            </tr>
          </thead>
          @for(children of child; track children.id){
          <tbody>
            <tr>
              <td class="t-icon">
                <img src="/assets/img/ph_flag.png" alt="PH Flag" />

                <a routerLink="/children-page/{{ children.id }}">
                  {{ children.firstName + " " + children.lastName }}</a
                >
              </td>
              <td>{{ children.gender }}</td>
              <td>{{ children.purok }}</td>
              <td>
                {{ children.weighingHistory[0].weightForAgeStatus }}
              </td>
              <td>
                {{ children.weighingHistory[0].heightForAgeStatus }}
              </td>
              <td>
                {{ children.weighingHistory[0].weightForLengthHeightStatus }}
              </td>
              <td>
                {{
                  children.isFullyVaccinated
                    ? "Fully Vaccinated"
                    : children.vaccinations.length > 0
                    ? "Partially Vaccinated"
                    : "Not Vaccinated"
                }}
              </td>
            </tr>
          </tbody>
          }
        </table>
      </div>
    </div>
  </div>
</div>
