.children-container {
  margin: 0 auto;
  padding: 30px;
  position: relative;
}
@media (min-width: 992px) {
  .children-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .children-container {
    width: 1170px;
  }
}

@media (max-width: 1599px) {
  .children-container {
    max-width: 1030px;
  }
}
.c-table-header {
  max-width: 700px;
}
.c-table-header {
  display: flex;
  gap: 10px;
  margin-top: 56px;
}
.c-table-body {
  margin-top: 10px;
}

.c-table-header > * {
  flex: 1;
}

select {
  background: #454a4e;
  color: #b5b5b5;
  font-size: 12px;
  padding: 6px 6px;
  width: 100%;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid transparent;
  line-height: 1.42857143;
  cursor: pointer;
  min-height: 33px;
}

select:hover {
  background: #037db5;
  color: #fff;
}
a:hover {
  text-decoration: underline;
}

.children .table-group tbody td,
.children .table-group thead th {
  text-align-last: left;
}

/* input search */
.ssearch {
  display: flex;
  justify-content: center;
  position: relative;
}

.ssearch input {
  background: #454a4e;
  color: #b5b5b5;
  font-weight: 500;
  font-size: 12px;
  padding: 6px 6px;
  width: 100%;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid transparent;
  line-height: 1.42857143;

  min-height: 33px;
}
.ssearch input::placeholder {
  color: #b5b5b5;
  font-weight: 500;
  font-size: 12px;
}
.ssearch button {
  border: 0;
  background: transparent;
  position: absolute;
  cursor: pointer;
  top: calc(50% + 2px);
  transform: translateY(-50%);
  right: -5px;
  cursor: pointer;
  color: #a6c6bc;
}

.all-btn {
  background: #454a4e;
  color: #b5b5b5;
  font-size: 12px;
  padding: 6px 6px;
  width: 100%;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid transparent;
  line-height: 1.42857143;
  cursor: pointer;
  min-height: 33px;
}

.all-btn:hover {
  background: #037db5;
  color: #fff;
}

.action {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.action .delete {
  background: #dc143c;
  border-color: #dc143c;
}

.action .delete:hover {
  background: #b51233;
}
.logs {
  margin-top: 96px;
}
