<div class="children">
  <div class="children-container">
    <div class="c-table-header">
      <div class="c-table-item">
        <select id="role" (change)="onRoleChange($event)">
          <option value="">Role</option>
          <option value="bhw">BHW</option>
          <option value="midwife">Midwife</option>
        </select>
      </div>
      <div class="c-table-item">
        <select id="yearsOfExperience" (change)="onExperienceChange($event)">
          <option value="">Years of Experience</option>
          <option value="lessThan1">Less than 1 year</option>
          <option value="lessThan5">Between 1 year and 10 years</option>
          <option value="moreThan10">More than 10 years</option>
        </select>
      </div>
      <div class="c-table-item">
        <p class="ssearch">
          <input
            #query
            type="text"
            placeholder="Search..."
            (keyup)="search(query.value)"
          />
          <button (click)="search(query.value)">
            <mat-icon
              ><span class="hidden">Search</span><span> search </span></mat-icon
            >
          </button>
        </p>
      </div>
    </div>
    <div class="c-table-body">
      <div class="table-group">
        <table class="stat-table">
          <thead>
            <tr>
              <th>Users</th>
              <th>Role</th>
              <th>Gender</th>
              <th>Years of Experience</th>
              <th>Action</th>
            </tr>
          </thead>
          @for(users of user; track $index){
          <tbody>
            <tr>
              <td class="t-icon">
                <img src="/assets/img/ph_flag.png" alt="PH Flag" />

                <a routerLink="/user/{{ users.id }}">
                  {{ users.firstName + " " + users.lastName }}</a
                >
              </td>
              <td>{{ users.role }}</td>
              <td>{{ users.gender }}</td>
              <td>{{ users.yearsOfService }}</td>
              <td class="action">
                <button
                  type="button"
                  class="global-btn update"
                  (click)="openDialog(users.id)"
                >
                  Edit
                </button>
                <button
                  type="button"
                  class="global-btn delete"
                  (click)="deleteUser(users.id)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
          }
        </table>
      </div>
    </div>
  </div>
</div>
