<div class="header">
  <div class="header-inner">
    <div class="header-left">
      <a routerLink="/" class="header-logo">
        <h2 class="logo-name">MIHIS</h2>
      </a>
    </div>
    <div class="header-right">
      <div *ngIf="!isAuth">
        <a routerLink="/login">Login</a>
      </div>
      <div *ngIf="isAuth" class="menu-container">
        <a routerLink="/">{{ user.firstName }}</a>
        <div class="menu">
          <a routerLink="/user/{{ user.id }}">Profile</a>
          <!-- <ng-container *ngIf="user.role === 'admin'">
            <a routerLink="/dashboard">Dashboard</a>
            <a routerLink="/user">All Users</a>
          </ng-container> -->
          <!-- Update this ng-container to check for multiple roles -->
          <ng-container
            *ngIf="
              user.role === 'admin' ||
              user.role === 'midwife' ||
              user.role === 'bhw'
            "
          >
            <a routerLink="/dashboard">Dashboard</a>
          </ng-container>

          <!-- Admin only access for All Users -->
          <ng-container
            *ngIf="user.role === 'admin' || user.role === 'midwife'"
          >
            <a routerLink="/user">All Users</a>
          </ng-container>
          <a routerLink="/mother">All Mother</a>
          <a routerLink="/child">All Children</a>
          <a (click)="logout()">Logout</a>
        </div>
      </div>
      <!-- <a class="global-btn button-sign-up" routerLink="sign-up">Sign In</a> -->
    </div>
  </div>
</div>
