<div class="chart-wrapper">
  <h2>Administered Vaccines and Doses</h2>
  <div class="chart-data">
    <table>
      <thead>
        <tr>
          <th>Vaccine Name</th>
          <th>Dose Number</th>
          <th>Male</th>
          <th>Female</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dose of vaccineDoses">
          <td>{{ dose.vaccineName }}</td>
          <td>{{ dose.doseNumber }}</td>
          <td>{{ dose.maleCount }}</td>
          <td>{{ dose.femaleCount }}</td>
          <td>{{ dose.totalCount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <canvas baseChart [type]="'bar'" [data]="vaccineChartData"></canvas>
</div>
