<!-- <div class="chart-wrapper">
  <h2>Complete Infant Immunization Reports</h2>
  <div class="chart-data">
    <table>
      <tr>
        <td>Fully Vaccinated:</td>
        <td>
          <span>{{ fullyVaccinatedCount }}</span>
        </td>
      </tr>
      <tr>
        <td>Partially Vaccinated:</td>
        <td>
          <span>{{ partiallyVaccinatedCount }}</span>
        </td>
      </tr>
      <tr>
        <td>Not Vaccinated:</td>
        <td>
          <span>{{ notVaccinatedCount }}</span>
        </td>
      </tr>
    </table>
  </div>
  <canvas
    baseChart
    [type]="'bar'"
    [data]="completeImmunizationChartData"
  ></canvas>
</div> -->
