<!-- <admin-logs></admin-logs> -->
<div style="margin-top: 60px">
  <div class="admin-dashboard">
    <div class="side-panel">
      <div class="panel-title main">
        <h2>User Panel</h2>
      </div>
      <ul class="panel-links">
        <li>
          <a routerLink="/dashboard">
            <span>
              <mat-icon
                fontIcon="dashboard"
                class="mat-icon-outlined"
              ></mat-icon>
            </span>
            <span class="panel-data">Dashboard</span>
          </a>
        </li>
        <li>
          <a routerLink="analytics">
            <span>
              <mat-icon
                fontIcon="bar_chart"
                class="mat-icon-outlined"
              ></mat-icon>
            </span>
            <span class="panel-data">Analytics</span></a
          >
        </li>
        <li>
          <a routerLink="healthworker-schedule">
            <span>
              <mat-icon
                fontIcon="schedule"
                class="mat-icon-outlined"
              ></mat-icon>
            </span>
            <span class="panel-data">Health Worker Schedule</span></a
          >
        </li>
        <li>
          <a routerLink="reports">
            <span>
              <mat-icon
                fontIcon="view_list"
                class="mat-icon-outlined"
              ></mat-icon>
            </span>
            <span class="panel-data">Reports</span></a
          >
        </li>
        <li>
          <a routerLink="audit-trail">
            <span>
              <mat-icon
                fontIcon="assignment"
                class="mat-icon-outlined"
              ></mat-icon>
            </span>
            <span class="panel-data">Audit Trail</span></a
          >
        </li>
        <li>
          <a routerLink="calendar">
            <span>
              <mat-icon fontIcon="event" class="mat-icon-outlined"></mat-icon>
            </span>
            <span class="panel-data">Schedule</span></a
          >
        </li>
        <li>
          <a routerLink="schedule-list">
            <span>
              <mat-icon fontIcon="list" class="mat-icon-outlined"></mat-icon>
            </span>
            <span class="panel-data">Schedule List</span></a
          >
        </li>
      </ul>
    </div>
    <div class="main-panel">
      <div class="panel-header">
        <div class="panel-title sub">
          <h2>
            Welcome {{ user.firstName }}!
            <!-- Username -->
          </h2>
        </div>
      </div>
      <!-- TODO: -->
      <div class="panel-body">
        <div
          *ngIf="routers.url === '/dashboard'; else showRouterOutlet"
          class="dashboard-body"
        >
          <div class="dashboard-container">
            <div class="dashboard-top">
              <h2 class="d-head">Dashboard</h2>
              <div class="d-head-info">
                <div class="dh-item">
                  <h3 class="dh-title">Barangay</h3>
                  <p class="dh-sub-title">Bangad</p>
                </div>
                <div class="dh-item">
                  <h3 class="dh-title">Location</h3>
                  <p class="dh-sub-title">Bangad Health Center</p>
                </div>
                <div class="dh-item">
                  <h3 class="dh-title">Schedule</h3>
                  <p class="dh-sub-title">
                    Monday - Sunday <br />
                    8:00 am - 5:00 pm
                  </p>
                </div>
                <div class="dh-item">
                  <h3 class="dh-title">Health Workers</h3>
                  <p class="dh-sub-title">1 Midwife, 14 BHW</p>
                </div>
              </div>
              <div class="d-head-info wesa">
                <div class="dh-item">
                  <h3 class="dh-title">Monitoring</h3>
                </div>

                <div class="dh-item">
                  <select id="month" (change)="onMonthChange($event)">
                    <option value="">Select Month</option>
                    <option value="0">January</option>
                    <option value="1">February</option>
                    <option value="2">March</option>
                    <option value="3">April</option>
                    <option value="4">May</option>
                    <option value="5">June</option>
                    <option value="6">July</option>
                    <option value="7">August</option>
                    <option value="8">September</option>
                    <option value="9">October</option>
                    <option value="10">November</option>
                    <option value="11">December</option>
                  </select>
                </div>
                <div class="dh-item">
                  <select id="year" (change)="onYearChange($event)">
                    <option value="">Select Year</option>
                    <option *ngFor="let year of availableYears" [value]="year">
                      {{ year }}
                    </option>
                  </select>
                </div>

                <!-- <div class="dh-item">
                  <select id="history">
                    <option value="">Last 24 Hours</option>
                    <option value="1">Last Week</option>
                    <option value="2">Last Month</option>
                    <option value="3">Last Year</option>
                  </select>
                </div> -->
              </div>
            </div>
            <!-- FIXME: -->
            <div class="button-container reports-header">
              <button
                (click)="showVaccinationTable()"
                [class.active]="currentView === 'vaccination'"
                class="global-btn"
              >
                Vaccination Status
              </button>
              <button
                class="global-btn"
                (click)="showMalnutritionTable()"
                [class.active]="currentView === 'malnutrition'"
              >
                Malnutrition Status
              </button>
            </div>
            <!-- FIXME: -->
            <div class="dashboard-bottom">
              <div class="analytics-container">
                <div class="analytics-item ai-gender">
                  <charts-gender
                    [maleCount]="maleCount"
                    [femaleCount]="femaleCount"
                  ></charts-gender>
                </div>
                <div class="analytics-item ai-purok">
                  <charts-purok
                    [purokLabels]="purokLabels"
                    [purokData]="purokData"
                  ></charts-purok>
                </div>
                <div
                  class="analytics-item ai-complete-immunization reports"
                  title="Click to View PDF"
                  (click)="generatePdf()"
                >
                  <charts-complete-immunization
                    *ngIf="currentView === 'vaccination'"
                    [fullyVaccinatedCount]="fullyVaccinatedCount"
                    [partiallyVaccinatedCount]="partiallyVaccinatedCount"
                    [notVaccinatedCount]="notVaccinatedCount"
                  ></charts-complete-immunization>

                  <charts-nutritional-status
                    *ngIf="currentView === 'malnutrition'"
                    [nutritionalLabels]="['Normal', 'Malnourished']"
                    [nutritionalData]="[normalCount, malnourishedCount]"
                  ></charts-nutritional-status>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #showRouterOutlet>
          <router-outlet></router-outlet>
        </ng-template>
      </div>
      <!-- TODO: -->
    </div>
  </div>
</div>
