<div class="children">
  <div class="children-container">
    <div class="c-table-header">
      <div class="c-table-item">
        <select id="gender">
          <option disabled selected>Gender</option>
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
      <div class="c-table-item">
        <select id="purok">
          <option disabled selected>Purok</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
      <div class="c-table-item">
        <select id="nutritionalStatus">
          <option disabled selected>Nutritional Status</option>
          <option>Normal</option>
          <option>Obese</option>
          <option>Wasted</option>
          <option>Severely Wasted</option>
          <option>Stunted</option>
          <option>Severely Stunted</option>
          <option>Underweight</option>
          <option>Severely Underweight</option>
          <option>Overweight</option>
          <option>Severely Overweight</option>
        </select>
      </div>
      <div class="c-table-item">
        <select id="vaxStatus">
          <option disabled selected>Vaccine Status</option>
          <option>Fully Vaccinated</option>
          <option>Partially Vaccinated</option>
          <option>Not Vaccinated</option>
        </select>
      </div>
      <div class="c-table-item">
        <!-- <search></search> -->
        <p class="ssearch">
          <input
            #query
            type="text"
            placeholder="Search..."
            (keyup)="search(query.value)"
          />
          <button (click)="search(query.value)">
            <mat-icon
              ><span class="hidden">Search</span><span> search </span></mat-icon
            >
          </button>
        </p>
      </div>
    </div>
    <div class="c-table-body">
      <div class="table-group">
        <table class="stat-table">
          <thead>
            <tr>
              <th>Mothers</th>
              <th>Transient</th>
              <th>Purok</th>
              <th>Children</th>
            </tr>
          </thead>
          @for(mothers of mother; track $index){
          <tbody>
            <tr>
              <td class="t-icon">
                <img src="/assets/img/ph_flag.png" alt="PH Flag" />

                <a routerLink="/mother/{{ mothers.id }}">
                  {{ mothers.firstName + " " + mothers.lastName }}</a
                >
              </td>
              <td>{{ mothers.isTransient }}</td>
              <td>{{ mothers.purok }}</td>
              <td>
                <!-- @for(child of mothers.children;  track $index){
                <a [routerLink]="'/children-page/' + child.id"
                  >{{ child.firstName }}
                  <span *ngIf="mothers.children.length - 1">|</span>
                </a>
                } -->
                <span *ngFor="let child of mothers.children; let i = index">
                  <a [routerLink]="'/children-page/' + child.id"
                    >{{ child.firstName }} {{ child.lastName }}</a
                  >
                  <span
                    style="font-weight: 600"
                    *ngIf="i < mothers.children.length - 1"
                  >
                    |
                  </span>
                </span>
              </td>
            </tr>
          </tbody>
          }
        </table>
      </div>
    </div>
  </div>
</div>
