<div class="children">
  <div class="children-container">
    <div class="d-tag-container">
      <h3 class="d-tag">All Mothers</h3>
    </div>
    <div class="cth-container">
      <div class="c-table-header">
        <div class="c-table-item">
          <!-- Button to reset filters for All Mothers -->
          <button type="button" class="all-btn" (click)="resetFilters()">
            All Mothers
          </button>
        </div>
        <div class="c-table-item">
          <select id="purok" (change)="onPurokChange($event)">
            <option value="">Purok</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
        <div class="c-table-item">
          <select id="childrenCount" (change)="onChildrenCountChange($event)">
            <option value="">Children Count</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
        <div class="c-table-item">
          <select id="transient" (change)="onTransientChange($event)">
            <option value="">Residency Status</option>
            <option value="true">Transient</option>
            <option value="false">Native Resident</option>
          </select>
        </div>
        <div class="c-table-item">
          <p class="ssearch">
            <input
              #query
              type="text"
              placeholder="Search..."
              (keyup)="search(query.value)"
            />
            <button (click)="search(query.value)">
              <mat-icon
                ><span class="hidden">Search</span
                ><span> search </span></mat-icon
              >
            </button>
          </p>
        </div>
      </div>
      <button class="vcard-popup global-btn" (click)="openAddDialog()">
        <mat-icon>add</mat-icon> Add Mother
      </button>
    </div>
    <div class="c-table-body">
      <div class="table-group">
        <table class="stat-table">
          <thead>
            <tr>
              <th>Mothers</th>
              <th>Transient</th>
              <th>Purok</th>
              <th>Children</th>
              <th>Action</th>
            </tr>
          </thead>
          @for(mothers of mother; track $index){
          <tbody>
            <tr>
              <td class="t-icon">
                <img src="/assets/img/ph_flag.png" alt="PH Flag" />

                <a routerLink="/mother/{{ mothers.id }}">
                  {{ mothers.firstName + " " + mothers.lastName }}</a
                >
              </td>
              <!-- <td>{{ mothers.isTransient }}</td> -->
              <td>
                {{ mothers.isTransient ? "Transient" : "Native Resident" }}
              </td>
              <td>{{ mothers.purok }}</td>
              <td>
                <span *ngFor="let child of mothers.children; let i = index">
                  <a [routerLink]="'/children-page/' + child.id"
                    >{{ child.firstName }} {{ child.lastName }}</a
                  >
                  <span
                    style="font-weight: 600"
                    *ngIf="i < mothers.children.length - 1"
                  >
                    |
                  </span>
                </span>
              </td>
              <td class="action">
                <button
                  type="button"
                  class="global-btn update"
                  (click)="openDialog(mothers.id)"
                >
                  Edit
                </button>
                <button
                  type="button"
                  class="global-btn delete"
                  (click)="deleteMother(mothers.id)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
          }
        </table>
      </div>
    </div>
    <!-- <button
      class="vcard-popup global-btn"
      (click)="exportMotherChildrenToExcel()"
    >
      <mat-icon>save_alt</mat-icon> Export Mother and Children to Excel
    </button> -->
  </div>
</div>
