<div class="chart-wrapper">
  <h2>Missed Vaccines Reasons Distribution</h2>
  <div class="chart-data">
    <table>
      <tr *ngFor="let reason of missedVaccineReasons; let i = index">
        <td>{{ reason.label }}:</td>
        <td>
          <span>{{ reason.value }}</span>
        </td>
      </tr>
    </table>
  </div>
  <canvas baseChart [type]="'bar'" [data]="missedVaccineChartData"></canvas>
</div>
<!-- <div class="report-container">
  <h2>Missed Vaccine Report</h2>
  <div>
    <div>
      <div>
        <div>Child Name</div>
        <div>Vaccine Name</div>
        <div>Date Missed</div>
        <div>Reason</div>
      </div>
    </div>
    <div>
      <div *ngFor="let child of missedVaccines">
        <div>{{ child.firstName }} {{ child.lastName }}</div>

        <div *ngFor="let vaccine of child.missedVaccines">
          {{ vaccine.vaccineName }}

          <div>{{ vaccine.dateMissed | date : "mediumDate" }}</div>
          <div>{{ vaccine.reason || "N/A" }}</div>
          <div>{{ child.gender }} {{ child.purok }}</div>
        </div>
      </div>
    </div>
  </div>
</div> -->
