/* @import "ngx-toastr/toastr"; */
/* #region main header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1007;
  width: 100%;
  padding: 16px 30px;
  background: var(--bg-accent);
}

.header-inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  margin: 0 auto;
}

/* header left */
.header-left {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header a {
  cursor: pointer;
  color: #fff;
}
.header-right {
  display: flex;
  gap: 13px;
  align-items: center;
}
.header-logo {
  padding: 0 0 0 4px;
}
.header-logo:hover {
  background: var(--bg-button-hover);
}

.logo-name {
  font-size: 32px;
  font-weight: 700;
  font-family: var(--font-title);
  letter-spacing: 0.1em;
  color: #fff;
}

.header-right a {
  padding: 10px;
}
.header-right a:hover {
  background: var(--bg-button-hover);
}

.menu {
  position: absolute;
  top: 25px;
  left: 50%;
  flex-direction: column;
  flex-direction: column;
  display: none;
  transform: translateX(-50%);
  width: 140px;
  text-align: center;
}
.menu-container:hover .menu {
  display: flex;
}

.menu a {
  background: #619b8b;
}

.menu-container {
  position: relative;
}

.button-sign-up {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 700;
}

/* #endregion main header */

/* #region reset */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

*,
*:focus,
*::before,
*::after {
  box-sizing: border-box;
  outline: 0;
}

.hidden {
  font-size: 0;
  display: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* #endregion reset */

/* #region variable */
:root {
  --font-title: "Cormorant", serif;
  --color-title: #000;
  --color-text: #111;
  --color-link: #0066c0;
  /* --bg-button: #ffd814;
  --bg-button-hover: #f7ca00; */
  --bg-button-hover: #2e7862;
  --bg-button: #338c72;
  --button-text: #fff;
  --bg-accent: #549280;
  --bg-hover: #8ce8cd;
}

a {
  text-decoration: none;
  color: var(--color-title);
  outline: none;
  transition: all ease-in 0.3s;
}
/* #endregion variable */

/* #region font register */
@font-face {
  font-family: "Amazon Ember";
  src: url("/assets/fonts/AmazonEmber-Regular.woff2") format("woff2"),
    url("/assets/fonts/AmazonEmber-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Amazon Ember";
  src: url("/assets/fonts/AmazonEmber-Medium.woff2") format("woff2"),
    url("/assets/fonts/AmazonEmber-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Amazon Ember";
  src: url("/assets/fonts/AmazonEmber-Bold.woff2") format("woff2"),
    url("/assets/fonts/AmazonEmber-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* #endregion font register*/

/* #region global */
body {
  font-family: "Amazon Ember", sans-serif;
  font-weight: normal;
}

.logo {
  font-family: var(--font-title);
  font-size: 80px;
  color: var(--color-title);
  font-weight: 500;
}

.logo.vvld {
  text-align: center;
  margin: 10px 0;
}

.logo.vvld a {
  color: var(--bg-accent);
  padding: 0 4px;
}
.logo.vvld a:hover {
  background: #8ce8cd;
}

.global-btn {
  width: 100%;
  display: inline-flex;
  padding: 6px 1px;
  font-size: 13px;
  background-color: var(--bg-button);
  border: 1px solid var(--bg-button);
  cursor: pointer;
  line-height: 19px;
  border-radius: 8px;
  color: var(--button-text);
  display: flex;
  justify-content: center;
  align-items: center;
}
.global-btn:hover {
  background-color: var(--bg-button-hover);
}

.sign-header {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.sign-header h2 {
  padding-left: 4px;
  transition: all ease-in 0.2s;
  pointer-events: all;
}
.sign-header h2:hover {
  background: var(--bg-button-hover);
  color: #fff;
}

.form-error {
  font-size: 14px;
  margin-top: 7px;
  margin-left: 9px;
  color: #dc143c;
}

.form-ctrl.ng-invalid.ng-touched {
  border-color: #dc143c;
}

.vvld-form-group .form-ctrl.ng-invalid.ng-touched:focus {
  border-color: #dc143c;
  box-shadow: 0 0 0 3px rgb(220, 20, 60, 0.2),
    0 1px 2px rgba(220, 20, 68, 0.15) inset;
}

.vvld-form-group input,
.vvld-form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  height: 31px;
  transition: all 0.25s ease-in-out;
}
.vvld-form-group select {
  padding: 7px;
}

.vvld-form-group input:focus {
  background-color: #f7feff;
  border-color: #007185;
  box-shadow: 0 0 0 3px #c8f3fa, 0 1px 2px rgba(15, 17, 17, 0.15) inset;
}
.title-wrap {
  display: grid;
  place-items: center;
  margin-bottom: 30px;
  padding-top: 10px;
}

/* #endregion global */

/* #region Table Group */
.table-group thead th {
  text-transform: uppercase;
  font-size: 10px;
  color: #fff;
  background: #37424c url(/assets/img/dots_bg.png) repeat scroll 0 0;
}

.table-group.top {
  margin-bottom: 30px;
}
.table-group .stat-table {
  width: 100%;
}
.table-group thead {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.table-group tbody td,
.table-group thead th {
  text-align: center;

  padding: 10px 5px;
}
.table-group tr:nth-of-type(2n + 1) {
  border-bottom: 1px solid rgba(57, 62, 64, 0.65);
}
.table-group tr:nth-of-type(2n) {
  background: rgba(54, 59, 64, 0.14);
  border-bottom: 1px solid rgba(26, 31, 33, 0.25);
}
.table-group tr {
  transition: all 0.1s linear;
}
.table-group tr:hover {
  background: rgba(73, 89, 103, 0.42);
}

.user-statistics .table-group tr:hover {
  background: none;
}
.user-statistics {
  position: relative;
}
.user-statistics .vcard-popup {
  position: absolute;
  bottom: 0;
  right: 30px;
  max-width: 100%;
  width: auto;
  padding: 10px;
  border-radius: 3px;
  z-index: 3;
}

.table-group tbody td {
  font-size: 16px;
}
.t-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.t-icon img {
  width: 16px;
  height: auto;
}
/* #endregion Table Group */

/* #region popup */
.cdk-overlay-container {
  z-index: 99999;
}

.cdk-overlay-pane.mat-mdc-dialog-panel {
  max-width: 880px !important;
}

.vpopup-container {
  width: 100%;
  max-width: 870px;
  min-width: 880px;
  min-height: 550px;
  max-height: 600px;
  background: #fff;
  padding: 30px;
  overflow-y: scroll;
}

.vpopup-container h2 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 16px;
}
/* #endregion popup */
