<div class="vpopup-container s">
  <div class="vvld-box-inner">
    <h2>Update User</h2>
    <!--  -->
    <form [formGroup]="updateForm" (submit)="update()">
      <div class="vvld-form-group">
        <label for="f-name">Firstname</label>
        <input
          formControlName="firstName"
          type="text"
          placeholder="First name"
          id="f-name"
          class="form-ctrl"
        />
        <div
          *ngIf="firstName?.touched && firstName?.invalid"
          class="form-error"
        >
          <div *ngIf="firstName?.errors?.['required']">
            &#42; Firstname is required
          </div>
          <div *ngIf="firstName?.errors?.['minlength']">
            &#42; Firstname should be minimum
            {{firstName?.errors?.['minlength'].requiredLength}} characters
          </div>
        </div>
      </div>
      <div class="vvld-form-group">
        <label for="l-name">Last name</label>
        <input
          formControlName="lastName"
          type="text"
          placeholder="Last name"
          id="l-name"
          class="form-ctrl"
        />
        <div *ngIf="lastName?.touched && lastName?.invalid" class="form-error">
          <div *ngIf="lastName?.errors?.['required']">
            &#42; lastName is required
          </div>
          <div *ngIf="lastName?.errors?.['minlength']">
            &#42; lastName should be minimum
            {{lastName?.errors?.['minlength'].requiredLength}} characters
          </div>
        </div>
      </div>
      <div class="vvld-form-group">
        <label for="emailOrPhone">Username</label>
        <input
          formControlName="username"
          type="text"
          id="emailOrPhone"
          placeholder="Enter mobile number or email"
          class="form-ctrl"
        />
        <div *ngIf="username?.touched && username?.invalid" class="form-error">
          <div *ngIf="username?.errors?.['required']">
            &#42; This field is required
          </div>
          <div *ngIf="username?.errors?.['isEmailOrPhone']">
            &#42; Please enter a valid email or phone number
          </div>
        </div>
      </div>
      <div class="vvld-form-group">
        <label for="dateOfService">Start of Service</label>
        <input
          formControlName="dateOfService"
          type="date"
          id="dateOfService"
          placeholder="Date of Service"
          class="form-ctrl"
        />
        <div
          *ngIf="dateOfService?.touched && dateOfService?.invalid"
          class="form-error"
        >
          <div *ngIf="dateOfService?.errors?.['required']">
            &#42; This field is required
          </div>
        </div>
      </div>
      <!-- gender -->
      <div class="vvld-form-group">
        <label for="gender">Gender</label>
        <!-- <input
          formControlName="gender"
          type="text"
          id="gender"
          placeholder="Gender"
          class="form-ctrl"
        /> -->
        <select formControlName="gender" id="gender" class="form-ctrl">
          <option value="" disabled selected>Select Gender</option>
          <!-- Unclickable default -->
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
        <div *ngIf="gender?.touched && gender?.invalid" class="form-error">
          <div *ngIf="gender?.errors?.['required']">
            &#42; This field is required
          </div>
        </div>
      </div>
      <!-- photopath -->
      <div class="vvld-form-group">
        <label for="photoPath">Photo Path</label>
        <input
          formControlName="photoPath"
          type="text"
          id="photoPath"
          placeholder="Photo Path"
          class="form-ctrl"
        />
        <div
          *ngIf="photoPath?.touched && photoPath?.invalid"
          class="form-error"
        >
          <div *ngIf="photoPath?.errors?.['required']">
            &#42; This field is required
          </div>
        </div>
      </div>

      <button type="submit" class="global-btn">Update</button>
    </form>
    <pre>{{ updateForm.value | json }}</pre>
    <!--  -->
  </div>
</div>
<!-- <div class="vvld-form-group">
          <label for="password">Password</label>
          <input
            formControlName="password"
            type="password"
            placeholder="At least 6 characters"
            id="password"
            class="form-ctrl"
          />
          <div *ngIf="password?.touched && password?.invalid" class="form-error">
            <div *ngIf="password?.errors?.['required']">
              &#42; Password is required
            </div>
            <div *ngIf="password?.errors?.['minlength']">
              &#42; Password should be minimum
              {{password?.errors?.['minlength'].requiredLength}} characters
            </div>
          </div>
        </div> -->
<!-- Confirm Password -->
<!-- <div class="vvld-form-group">
          <label for="con-password">Confirm Password</label>
          <input
            formControlName="confirmPassword"
            type="password"
            placeholder="Confirm Password"
            id="con-password"
            class="form-ctrl"
          />
          <div
            *ngIf="confirmPassword?.touched && confirmPassword?.invalid"
            class="form-error"
          >
            <div *ngIf="confirmPassword?.errors?.['required']">
              &#42; Password is required
            </div>
          </div>
          <div
            class="form-error"
            *ngIf="
              confirmPasswordValid && signUpForm?.invalid && passwordMismatchError
            "
          >
            &#42; Passwords do not match.
          </div>
        </div> -->
<!-- Confirm Password -->
