<div class="vvld-footer">
  <div class="vvld-footer-inner">
    <div class="vvld-footer-logo">
      <a routerLink="/"
        ><img src="assets/img/the_irregs_logo.png" aria-hidden="true"
      /></a>
    </div>
    <div class="footer-contact">
      <div class="footer-phone footer-item">
        <a href="tel:+639291675413">
          <span class="footer-icon">
            <mat-icon>phone</mat-icon>
          </span>
          09291675413
        </a>
      </div>
      <div class="footer-email footer-item">
        <span class="footer-icon">
          <mat-icon>mail_outline</mat-icon>
        </span>
        <a href="mailto:marvin.genosolango@my.jru.edu">
          bangad.healthcenter&#64;gmail.com
        </a>
      </div>
      <div class="footer-address footer-item">
        <span class="footer-icon">
          <mat-icon>place</mat-icon>
        </span>
        J.P. Rizal St., National Road, <br />
        Barangay Bangad, Binangonan, <br />
        1940 Rizal
      </div>
    </div>
    <div class="footer-bottom">
      <div class="fb-text">
        MIHIS is dedicated to ensuring an accessible website for all users. If
        you encounter any issues accessing content or viewing files, or if you
        have any accessibility concerns, please reach out to us at
        <a href="tel:+639291675413">09291675413</a>. Specify the nature of the
        issue and any assistive technology you use, and we will strive to
        provide the necessary content in the required format.
      </div>
    </div>
    <div class="copy-wrap">
      <div class="copy-wrap-inner">
        <p class="copyright">
          Copyright&#169; {{ currentYear }}. MIHIS. All rights reserved. |
          Health Information Website Design by TheIrregs
        </p>
        <div class="copy-right-icon">
          <mat-icon><span> volunteer_activism </span></mat-icon>
          <mat-icon><span> health_and_safety </span></mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
